{% extends 'base.html.twig' %}

{% block title 'New Employee' %}

{% block body %}
    <h1>Create Employee</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" formnovalidate>Create Employee</button>
    {{ form_end(form) }}
{% endblock %}
